/* ||| CSS Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

main {
    padding: 20px;
}

h1, h2, h3 {
    font-family: "Amatic SC", sans-serif;
}

img {
    max-width: 100%;
}

/* ||| Header */
/* title */
h1 {
    font-size: 50px;
    justify-self: center;
}
h1 > img {
    width: 1em;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid grey;
    height: 30px;
    padding: 20px;
}
nav > input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    flex: 1 0 100%;
    z-index: 1;
}
nav > button {
    border: 1px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    flex: 0 0 50px;
    margin-left: -50px;
    z-index: 2;
}
button > img {
    width: 2em;
}



/* ||| Main */
article {
    display: flex;
    flex-direction: column;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
    gap: 10px;
}
article > h2 {
    color: rgb(66, 66, 252);
    font-size: 30px;
    height: min-content;
}
article > p {
    height: min-content;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: min-content;
}
.tags {
    list-style-type: none;
    border: solid 1px;
    border-radius: 5px;
    padding: 10px;
    height: min-content;
}
.articleImage {
    border-radius: 5px;
}
.articleDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hide {
    display: none;
}


/* ||| Footer */


/* Any image that is used as a link */
footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer > div {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}
footer div a {
    flex: 0 1 48px;
}
footer > a {
    font-size: 1em;
    text-align: center;
}

a img {
    max-width: 3em;
}

@media screen and (min-width: 768px) {
  article {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .articleImage {
    flex: 0 1;
    max-width: 300px;
  }
  .hide {
    display: inline-block;
    align-self: flex-start;
  }
}
