@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

/* ||| Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
}

button {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

/* Beginning of personal stylization */
body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(77, 77, 211);
    color: white;
}

footer {
    background-color: rgb(77, 77, 211);
    color: white;
    padding: 10px;
}

div {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}


h1, h2, h3, h4, h5, h6 {
    font-family: Mooli;
    justify-self: center;
}

h6 {
    margin-bottom: 10px;
}

.gallery img {
    border: 5px solid white;
    box-shadow: 4px 4px 8px;
    object-fit: cover;
    width: 250px;
}

ul li {
    justify-self: center;
}

#menu {
    color: white;
}

.hidden {
    display: none;
}

.gallery {
    display: grid;
    gap: 25px;
}

dialog {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
}

dialog img {
    margin: 20vh auto;
    max-width: 100%;
}

dialog button {
    background: white;
}

/* ||| Psuedo Selectors */
.gallery img:hover {
    transform: scale(1.1);
}

.close-viewer:hover {
    transform: scale(1.5);
}

/* ||| Media Queries */
@media screen and (min-width: 550px) {
    .gallery {
        grid-template-columns: auto auto;
    }

    #menu {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    .gallery {
        grid-template-columns: auto auto auto;
    }

    #menu {
        display: none;
    }

    #mainNav ul {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
    }
}