* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  max-width: 1280px;
  margin: auto;
  padding: 1em;
}

img {
  max-width: 100%;
}

.main-nav li {
    list-style-type: none;
    /* flex: 0 1 5em; */
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}