:root {
  /* Colors */
  --primary-color: #7F7A9A;
  --secondary-color: #d3d3d3;
  --accent1-color: #f72d40;
  --accent2-color: #ffd86a;

  /* Typography */
  --heading-font: "Roboto Flex", sans-serif;
  --paragraph-font: Roboto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* sizing of objects */
  --form-input-length: 100%;
  --form-input-height: 48px;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

/* Formatting and Spacing */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#sign-in-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: inherit;
  width: 75vw;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#logo-title {
  flex-grow: 1;
}
#logo-img {
  width: 114px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
form label {
  font-size: large;
  font-style: italic;
}
form input {
  background-color: #f2f2f2;
  border: none;
  border-radius: 4px;
  height: var(--form-input-height);
  width: var(--form-input-length);
}
form > button {
  color: #f1f1f1;
  background-color: #2D356B;
  border: none;
  border-radius: 4px;
  font-size: medium;
  height: var(--form-input-height);
  width: var(--form-input-length);
  margin-top: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer p a {
  color: #002BB9;
  text-decoration: none;
} footer p a:hover {
  color: #003cff;
}