:root {
  /* Colors */
  --primary-color: #7F7A9A;
  --secondary-color: #d3d3d3;
  --accent1-color: #f72d40;
  --accent2-color: #ffd86a;

  /* Typography */
  --heading-font: "Roboto Flex", sans-serif;
  --paragraph-font: Roboto;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  top: 0;
  left: 0;
  height: 100px;
}
footer {
  bottom: 0;
  left: 0;
  height: 50px;
}
header, footer {
  background-color: var(--secondary-color);
  position: fixed;
  width: 100%;
  z-index: 10;
}

#navigation {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20%;
  height: 100px;
}
#logo {
  max-height: 4em;
}

#mainContent {
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: var(--primary-color);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: var(--heading-font);
  font-size: 60px;
  font-weight: 200;
  line-height: 0.5;
}

/* ||| Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  max-width: 100px;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: var(--secondary-color);
  border-radius: 15px;
  color: black;
  width: 90%;
}

#menu {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media screen and (min-width: 600px) {
  form {
    border: solid;
    border-radius: 10px;
  }
}